<!DOCTYPE html>
<htmllang="en">
<head>
    <metacharset
    ="UTF-8"/>
    <metaname
    ="viewport"content="width=device-width, initial-scale=1.0"/>
    <title>Medrick Service Manager's Notification</title>
</head>
<body>
<h1>VM Request Details:</h1>
<hr>
<ul>
    <li>name: {{ name }}</li>
    <li>requester_name : {{ requester_name }}</li>
    <li>state: {{ state }}</li>
    <li>creation_time : {{ creation_time }} </li>
    <li>update_time : {{ update_time }} </li>
    <li>description: {{ description }}</li>
    <li><a href={{ link }}>request link</a></li>
</ul>
</body>
</html>
